@CHARSET "ISO-8859-1";

body {
  font-family: Arial;
  margin: 0px;
  
  background-color: gray;
}

header {
  position: absolute;
  top: 0px;
  height: 50px;
  left: 0px;
  right: 0px;

  font-size: 32pt;
  
  text-align: center;
}

.app-block {
  position: absolute;
  width: 100%;
  top: 50px;
  bottom: 0px;
  
  background-color: gray;
}

header, aside {
  color: white;
  background-color: black;
}

aside {
  position: absolute;
  left: 0px;
  width: 120px;
  top: 5px;

  text-align: center;

  display: flex;
  display: -webkit-flex;
}

aside nav {
  width: 100%;
  height: auto;

  align-self: center;
  -webkit-align-self: center;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.main {
  position: absolute;
  left: 120px;
  right: 0px;
  top: 5px;
}

.main figure {
  align-self: center;
  -webkit-align-self: center;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

footer {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;

  border-style: solid;
  border-width: 2px;
  background-color: white;
  text-align: center;
}

/* Galery profile */

.galery {
  position: relative;
  height: 100%;
}

.galery aside, .galery .main {
  bottom: 58px;
}

.galery .main {
  display: flex;
  display: -webkit-flex;

  flex-flow: row wrap;
  -webkit-flex-flow: row;
}

.galery .main figure {
  border-style: solid;
  border-width: 2px;
}

.galery .main figure img {
  width: 100%;
}

.galery footer {
  height: 50px;
}

.page {
  font-size: 12pt;
  font-weight: bold;
}

/* Details profile */

.details {
  position: relative;
  height: 100%;
}

.details aside, .details .main {
  bottom: 5px;
}

.details .main {
  overflow: hidden;
}

.details .main figure {
  height: 100%;
}

.details .main figure img {
  position: relative;
  float: left;
  
  height: 90%;
  
  border-style: solid;
  border-width: 2px;
}

.details .main figure .data {
  position: relative;
  float: left;
  
  background: white;
  padding: 20px;
  border-style: solid;
  border-width: 2px;
}

.details footer {
  height: 0px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.author {
  font-size: 20px;
}